<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, viewport-fit=cover'>
    <title>{{ site.title }}</title>
    <meta name='description' content='{{ site.description }}' />
    <link rel='canonical' href='{{ page.url | replace:"index.html","" | absolute_url }}'>
    <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ "/feed.xml" | relative_url }}'>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet'>
    <link href='https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css' rel='stylesheet'>

    <!-- THEME CSS (keep this) -->
    <link rel='stylesheet' href='{{ "/assets/css/main.css" | relative_url }}'>

    <!-- 👇 YOUR CSS (this is the key) -->
    <link rel='stylesheet' href='{{ "/assets/css/custom.css" | relative_url }}'>
</head>