<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="header-box">
          <div class="header-brand-row">
            <div class="header-brand">
              <a href="{{ '/' | relative_url }}" class="header-avatar">
                <img src="{{ '/img/morie_analytics_logo.png' | relative_url }}" class="header-avatar-img" alt="Morie Analytics">
              </a>
              <a href="{{ '/' | relative_url }}" class="header-title">MORIE ANALYTICS</a>
            </div>

            <div class="header-utility-links">
              <ul class="list-reset">
                <li class="item"><a href="{{ site.github }}">Github</a></li>
                <li class="item"><a href="{{ site.linkedln }}">LinkedIn</a></li>
                <li class="item"><a href="{{ site.resume_url | relative_url }}">Resume</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>