---
layout: default
---

<div class="post-content">

  {% if page.tags.size >= 1 %}
    <div class='post-tags'>
      {% for tag in page.tags %}
        <a href='/tags#{{ tag | slugify }}' class='tag'>{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <h1>{{ page.title | escape }}</h1>

  <div class="post-meta">
    <span class="page__meta"><i class="ion ion-md-time"></i> {% include read-time.html content=content %}</span>
  </div>

  <div class="post-body">
    {{ content }}
  </div>

  {% if page.share %}
    {% include social-share.html %}
  {% endif %}

  {% if page.previous.url or page.next.url %}
    <div class='post-nav'>
      {% if page.next.url %}
        <a class='post-nav-btn' href='{{ page.next.url | relative_url }}'>← Previous</a>
      {% endif %}

      {% if page.previous.url %}
        <a class='post-nav-btn' href='{{ page.previous.url | relative_url }}'>Next →</a>
      {% endif %}
    </div>
  {% endif %}

</div>